<% if(locals.errors) {%> 
  <div class="alert alert-danger">
    <ul>
      <% errors.forEach(err => { %>
        <li><%- err.msg %> </li>
      <% }) %> 
    </ul>
  </div>
<%}%>
<h1 class="text-center"><%- title %>: <%- post.title %></h1>
<hr>
<div class="container mb-5">
  <div class="card">
    <div class="card-body border-top border-warning border-5 bg-light text-dark bg-gradient border-1">
      <form action="<%- post.url %>/update" enctype="multipart/form-data" class="" method="post">
        <div class="form-floating mb-3">
          <input class="form-control" id="title" name="title" type="text" required="true" placeholder="Title" value='<%= post ? post.title : '' %>' />
          <label for="title">Title:</label>
        </div>
        <div class="mb-3">
          <img id="image-preview" src="/<%= post ? post.imgUrl : '' %>" class="img-thumbnail mb-3" alt="">
          <input class="visually-hidden" type="file" id="image" name="image">
          <label class="btn btn-warning" for="image">Select file</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="metaDescription" name="metaDescription" required="true" placeholder="Meta description"><%- post.metaDescription %> </textarea>
          <label for="metaDescription">Meta Description:</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="metaKeywords" name="metaKeywords" type="text" required="true" value='<%= post ? post.metaKeywords : '' %>' placeholder="Meta keywords"  />
          <label for="metaKeywords">Meta Keywords:</label>
        </div>
        <textarea name="tinymce_content" id="tinymce_content" required="true"><%- post.content %></textarea>
        <div class="mb-3"></div>
        <div class="form-check mb-3">
          <label for="isPublished">Publish this post</label>
          <input class="form-check-input" type="checkbox" name="isPublished" id="isPublished" <%= post.isPublished ? "checked" : "" %>>
        </div>
        
        <button type="submit" class="btn btn-warning">Save</button>
        <button id="deleteToggle" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
      </form>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Blog Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              This will permanantly delete this blog post.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="/admin/post/<%- post._id %>/delete" method="post">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script src="/public/javascripts/imageChange.js"></script>