<!-- <div class="container mb-5"> -->
  <% if(locals.errors) {%> 
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(err => { %>
          <li><%- err.msg %> </li>
        <% }) %> 
      </ul>
    </div>
  <%}%>
  
  <div class="card bg-light shadow mb-4">
    <div class="card-header">
      <h1 class=""><%- title %></h1>
    </div>
    <div class="card-body">
      <form class="" action="<%- invoice.url %>/update" method="POST">
        <div class="form-floating mb-3">
          <input class="form-control" id="title" name="title" type="text" required="true" placeholder="Invoice 1" value='<%= invoice ? invoice.title : '' %>' />
          <label for="title" class="form-label">Title:</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="client" name="client" placeholder="Client Name">
            <% if(invoice.client) {%> 
            <% clients.forEach(client => { %>
              <option value="<%- client._id %>" <%= invoice.client.equals(client._id) ? 'selected' : '' %>><%- client.name %></option>
            <% }) %>
            <% } else { %>
              <option value="">Select</option>
            <% clients.forEach(client => { %>

              <option value="<%- client._id %>"><%- client.name %></option>
            <% }) %>
            <% } %>
          </select> 
          <label for="client">Client:</label>
        </div>
        
        <div class="form-floating mb-3">
          <input class="form-control" type="date" name="jobStart" id="jobStart" required="true" placeholder="01/01/2022" value='<%= invoice ? invoice.jobStart_formatted : '' %>'>
          <label for="jobStart">Job Start:</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="date" name="jobEnd" id="jobEnd" required="true" placeholder="01/01/2022" value='<%= invoice ? invoice.jobEnd_formatted : '' %>'>
          <label for="jobEnd">Completed By:</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="number" name="tax" id="tax" min="0" max="100" required="true" placeholder="13" value='<%= invoice ? invoice.tax : '' %>'>
          <label for="tax">Tax %:</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="number" name="markup" id="markup" min="0" required="true" placeholder="10" value='<%= invoice ? invoice.markup : '' %>'>
          <label for="markup">Material Markup %:</label>
        </div>
    
        <button type="submit" class="btn btn-primary">Save</button>
        

      </form>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header">
      <h2>Employees</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped text-nowrap display" style="width:100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <% invoice.employees.forEach(employee => { %>
              <tr>
                <td><%- employee.name %></td>
                <td><%- employee.email %></td>
                <td><%= phoneHelper.formatPhoneNumber(employee.phone)  %></td>
                <td>
                  <form action="<%- invoice.url %>/remove-employee/<%- employee._id %>" method="post">
                    <button class="btn btn-close btn-danger"></button>
                  </form>
                </td>
              </tr>
            <% }) %> 
          </tbody>
        </table>
      <form action="<%- invoice.url %>/add-employee" method="post">
          
        <div class="form-floating mb-3">
          <select class="form-select mb-3" id="employee" name="employee" required="true" placeholder="Employee Name">
            <% employees.forEach(employee => { %>
              <option value="<%- employee._id %>"><%- employee.name %></option>
            <% }) %>
          </select>
          <label for="employee">Employee:</label>
        </div>
        
        <button class="btn btn-primary" type="submit">Add Employee</button>
      </form>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header d-flex gap-3">
      <h2>Logged Hours</h2>
      
    </div>
    <div class="card-body">
      <table class="table table-striped text-nowrap display-hours" style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Hours</th>
            <th>Date</th>
            
          </tr>
        </thead>
        <tbody class="align-middle">
          <% invoice.loggedHours.forEach(log => { %>
            <tr>
              <td><%- log.employee.name %></td>
              <td><%- log.totalHours %></td>
              <td><%- log.date %></td>
              
            </tr>
          <% }) %> 
        </tbody>
      </table>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header d-flex gap-3">
      <h2>Materials: $<%- invoice.materials_subtotal %></h2>
      <form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newMaterial">New Material</button>
      </form>
    </div>
    <div class="card-body">
        <table class="table table-striped text-nowrap display" style="width:100%">
          <thead>
            <tr>
              <th>Material</th>
              <th>Quantity</th>
              <th>Price/Item</th>
              <th>Total</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <% invoice.materials.forEach(material => { %>
              <tr>
                <td><%- material.name %></td>
                <td><%- material.qty %></td>
                <td>$<%- ( material.price * (1 + (0.01 * invoice.markup))).toFixed(2) %> </td>
                <td>$<%= (material.qty * material.price * (1 + (0.01 * invoice.markup))).toFixed(2) %></td>
                <td>
                  <form action="<%- invoice.url %>/remove-material/<%- material._id %>" method="post">
                    <button class="btn btn-close btn-danger"></button>
                  </form>
                </td>
                
              </tr>
            <% }) %> 
          </tbody>
        </table> 
        <form action="<%- invoice.url %>/add-material" method="post">
        
          <div class="form-floating mb-3">
            <select class="form-select mb-3" id="material" name="material" required="true" placeholder="Material Name">
              <% materials.forEach(material => { %>
                <option value="<%- material._id %>"><%- material.name %></option>
              <% }) %>
            </select>
            <label for="material">Material:</label>
          </div>
          
          <div class="form-floating mb-3">
            <input class="form-control" type="number" name="materialQty" id="materialQty" min="1" step="1" required="true" placeholder="13">
            <label for="materialQty">Quantity:</label>
          </div>
          <button class="btn btn-primary" type="submit">Add Material</button>
        </form>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header d-flex gap-3">
      <h2>Services: $<%- invoice.services_subtotal %></h2>
      <form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newService">New Service</button>
      </form>
    </div>
    <div class="card-body">
        <table class="table table-striped text-nowrap display" style="width:100%">
          <thead>
            <tr>
              <th>Service</th>
              <th>Description</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <% invoice.services.forEach(service => { %>
              <tr>
                <td><%- service.title %></td>
                <td><%- service.description %></td>
                <td>$<%- service.price.toFixed(2) %> </td>
                <td>
                  <form action="<%- invoice.url %>/remove-service/<%- service._id %>" method="post">
                    <button class="btn btn-close btn-danger"></button>
                  </form>
                </td>
                
              </tr>
            <% }) %> 
          </tbody>
        </table> 
        
        <form action="<%- invoice.url %>/add-service" method="post">
          
          <div class="form-floating mb-3">
            <select class="form-select mb-3" id="service" name="service" required="true" placeholder="Service Title">
              <% services.forEach(service => { %>
                <option value="<%- service._id %>"><%- service.title %></option>
              <% }) %>
            </select>
            <label for="service">Service:</label>
          </div>
          
          <button class="btn btn-primary" type="submit">Add Service</button>
        </form>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header d-flex gap-3">
      <h2>Expenses: $<%- invoice.expenses_subtotal %></h2>
      <form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newExpense">New Expense</button>
      </form>

    </div>
    <div class="card-body">
      <table class="table table-striped text-nowrap display" style="width:100%">
        <thead>
          <tr>
            <th>Expense</th>
            <th>Price</th>
            <th>Created By</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% invoice.expenses.forEach(expense => { %>
            <tr>
              <% if(expense.imageUrl) {%>
              <td><a href="<%- expense.imageUrl %>"><%- expense.title %></a></td>
              <% } else { %>
              <td><%- expense.title %></td>
              <% } %>
              <td>$<%- expense.price.toFixed(2) %> </td>
              <td><%= expense.createdBy.name %></td>
              <td>
                <form action="<%- invoice.url %>/expense/<%- expense._id %>/delete" method="post">
                  <button class="btn btn-close btn-danger"></button>
                </form>
              </td>
              
            </tr>
          <% }) %> 
        </tbody>
      </table>
      
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header"><h2>Images</h2></div>
    <div class="card-body image-card container">
      <div class="row row-cols-1 row-cols-lg-4 g-3 mb-3">
        <% invoice.images.forEach(image => { %> 
         <div class="col">
          <a class="parent-link" href="<%- image.imageUrl %>" >
            <img class="child-img img-thumbnail mb-1" alt="<%- image.originalName %>" src="<%- image.imageUrl %>" >
            <form class="child-delete" action="<%- invoice.url %>/image/<%- image._id %>/delete" method="post">
              <button type="submit" class="btn bg-danger text-white rounded-pill"><svg class="bi" width="16" height="16"><use xlink:href="#close"/></svg></button>
            </form>
          </a>
          
         </div>

        <% }) %> 
    </div>
      <form action="<%- invoice.url %>/upload-images" enctype="multipart/form-data" method="post">
        <input class="form-control mb-3" multiple="multiple" type="file" accept="image/*" name="images" id="images" required="true">
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header d-flex flex-wrap gap-3">
      <h2>PDF</h2>
      <% let business = locals.business; %>
      <% let user = locals.currentUser; %>  
      <% if(business.name == null || business.email == null || business.phone == null || business.street == null || business.city == null || business.province == null || business.postal == null || user.email == null || user.firstName == null || user.lastName == null || user.phone == null || user.street == null || user.city == null || user.province == null || user.postal == null) { %>
      <form class="" action="<%- invoice.url %>/download" method="get">
        <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete business and user profile.">

          <button class="btn btn-primary" disabled>Download</button>
        </div>
        <!-- <button id="printButton" class="btn btn-outline-warning btn-lg">Download PDF</button> -->
      </form>
      <form class="" action="<%- invoice.url %>/send-email" method="post">
        <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete business and user profile">

          <button class="btn btn-primary" disabled>Email</button>
        </div>
        <!-- <button id="printButton" class="btn btn-outline-warning btn-lg">Download PDF</button> -->
      </form>
    <% } else { %>
      <form class="" action="<%- invoice.url %>/download" method="get">
        <button class="btn btn-primary undisabled">Download</button>

        <!-- <button id="printButton" class="btn btn-outline-warning btn-lg">Download PDF</button> -->
      </form>
      <form class="" action="<%- invoice.url %>/send-email" method="post">
        <button class="btn btn-primary">Email</button>

        <!-- <button id="printButton" class="btn btn-outline-warning btn-lg">Download PDF</button> -->
      </form>

    <% } %>
    </div>
    <div class="card-body">
      <%- include('invoice-render.ejs') %> 
      
      
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header"><h2>Payment</h2></div>
    <div class="card-body">
      <div class="">
      <% if(business.name == null || business.email == null || business.phone == null || business.street == null || business.city == null || business.province == null || business.postal == null || user.email == null || user.firstName == null || user.lastName == null || user.phone == null || user.street == null || user.city == null || user.province == null || user.postal == null) { %>
        <% if(business.chargesEnabled == false ) { %>
              <p>Pay the current invoice locally from this device.</p>
              <form class="mb-3" action="/stripe/<%- invoice._id %>/session" method="post">
                <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete business and user profile.">
                  <button class="btn btn-primary" disabled>Pay</button>
                </div>
              </form>
              <p>Email the current invoice to the client with a payment link.</p>
              <form class="" action="<%- invoice.url %>/send-email-payment" method="post">
                <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete business and user profile.">
                  <button class="btn btn-primary" disabled>Email with Payment</button>
                </div>
              </form>
            <% } else { %>
              <p>Pay the current invoice locally from this device.</p>
                <form class="mb-3" action="/stripe/<%- invoice._id %>/session" method="post">
                  <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete business and user profile.">
                    <button class="btn btn-primary" disabled>Pay</button>
                  </div>
                </form>
                <p>Email the current invoice to the client with a payment link.</p>
                <form class="" action="<%- invoice.url %>/send-email-payment" method="post">
                  <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete business and user profile.">
                    <button class="btn btn-primary" disabled>Email with Payment</button>
                  </div>
                </form>  
          <% } %>
        <% } else { %>
          <% if(business.chargesEnabled == false ) { %>
            <p>Pay the current invoice locally from this device.</p>
              <form class="mb-3" action="/stripe/<%- invoice._id %>/session" method="post">
                <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Finish Stripe Payments Setup">
                  <button class="btn btn-primary" disabled>Pay</button>
                </div>
              </form>
              <p>Email the current invoice to the client with a payment link.</p>
              <form class="" action="<%- invoice.url %>/send-email-payment" method="post">
                <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Finish Stripe Payments Setup">
                  <button class="btn btn-primary" disabled>Email with Payment</button>
                </div>
              </form>
            <% } else { %>
            <p>Pay the current invoice locally from this device.</p>
            <form class="mb-3" action="/stripe/<%- invoice._id %>/session" method="post">
              <button class="btn btn-primary">Pay</button>
            </form>
            <p>Email the current invoice to the client with a payment link.</p>
            <form class="" action="<%- invoice.url %>/send-email-payment" method="post">
              <button class="btn btn-primary">Email with Payment</button>
            </form>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>

  <div class="card bg-light shadow mb-4">
    <div class="card-header"><h2>Receipt</h2></div>
    <div class="card-body">
      <p>Email a receipt to your client.</p>
      <p>Not required if the customer is paying through the app or email.</p>
      <% if(business.name == null || business.email == null || business.phone == null || business.street == null || business.city == null || business.province == null || business.postal == null || user.email == null || user.firstName == null || user.lastName == null || user.phone == null || user.street == null || user.city == null || user.province == null || user.postal == null) { %>
        <button id="deleteToggle" type="button" class="btn btn-primary" disabled>Email Receipt</button>
      <% } else { %>
        <form action="<%- invoice.url %>/send-email-receipt" method="post">
          <button id="deleteToggle" type="submit" class="btn btn-primary">Email Receipt</button>
        </form>
      <% } %>
    </div>
  </div>

  
  <% if(invoice.isActive) {%> 
  <div class="card bg-light shadow mb-4">
    <div class="card-header"><h2>Archive Invoice</h2></div>
    <div class="card-body"><p>Mark this invoice complete.</p>
      <form action="<%- invoice.url %>/sign-off"  method="post">
        <button type="submit" class="btn btn-primary">Archive Invoice</button>
      </form>    
    </div>
  </div>
  <% } %> 
  <% if(!invoice.isActive) {%> 
    <div class="card bg-light shadow mb-4">
      <div class="card-header"><h2>Reset Invoice</h2></div>
      <div class="card-body"><p>Reset this invoice. Invoice will become active again.</p>
        <form action="<%- invoice.url %>/reset-invoice"  method="post">
          <button type="submit" class="btn btn-primary undisabled">Reset Invoice</button>
        </form>    
      </div>
    </div>
    <% } %> 

  <div class="card bg-light border-danger shadow mb-4">
    <div class="card-header"><h2>Delete</h2></div>
    <div class="card-body"><p>Delete this invoice. This cannot be undone.</p>
      <button id="deleteToggle" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
    </div>
  </div>

  <!-- <div class="card bg-light shadow">
    <div class="card-header"></div>
    <div class="card-body"></div>
  </div> -->
  <!-- New Log Modal -->
  <div class="modal fade" id="newLog" tabindex="-1" aria-labelledby="newMaterialLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMaterialLabel">Log Hours</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="" action="<%- invoice.url %>/log-hours" method="POST">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <select class="form-select mb-3" id="employee" name="employee" required="true" placeholder="Employee Name">
                <% employees.forEach(employee => { %>
                  <option value="<%- employee._id %>"><%- employee.name %></option>
                <% }) %>
              </select>
              <label for="employee">Employee:</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="date" name="date" type="date" required="true" placeholder="4/12/2023" />
              <label for="price" class="date">Date:</label>
            </div>
            <div class="form-floating mb-3">          
              <input class="form-control" id="hours" name="hours" type="number" step="0.01" required="true" placeholder="45"/>
              <label class="form-label" for="hours">Hours:</label>
            </div>
      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary">Log Hours</button>
          </div>
          
        </form>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="newExpense" tabindex="-1" aria-labelledby="newExpenseLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newExpenseLabel">New Expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="" action="<%- invoice.url %>/upload-expense" enctype="multipart/form-data" method="POST">
          <div class="modal-body">
            
            <div class="form-floating mb-3">
              <input class="form-control" id="title" name="title" type="text" required="true" placeholder="Expense" />
              <label for="title" class="form-label">Title:</label>
            </div>
            
            
            <div class="form-floating mb-3">
              <input class="form-control" type="number" name="price" id="price" min="0" step=".01" required="true" placeholder="13"/>
              <label for="price">Price:</label>
            </div>
            <input class="form-control mb-3" type="file" accept="image/*,application/pdf" name="expense" id="expense" >
             
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary">Create Expense</button>
          </div>
          </div>
          
        </form>
        
      </div>
    </div>
  </div>
      <!-- Delete invoice modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Invoice</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              This will permanantly delete this invoice.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="<%- invoice.url%>/delete" method="post">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- new material modal -->
      <div class="modal fade" id="newMaterial" tabindex="-1" aria-labelledby="newMaterialLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newMaterialLabel">New Material</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="" action="<%- invoice.url %>/new-material" method="POST">
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input class="form-control" id="name" name="name" type="text" required="true" placeholder="2x4"/>
                  <label for="name" class="form-label">Name:</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" id="price" name="price" type="number" step="0.01" required="true" placeholder="9.99" />
                  <label for="price" class="price">Price:</label>
                </div>
                <div class="form-floating mb-3">          
                  <input class="form-control" id="supplier" name="supplier" type="text" required="true" placeholder="Home Depot"/>
                  <label class="form-label" for="supplier">Supplier:</label>
                </div>
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button type="submit" class="btn btn-primary">Create Material</button>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
      <!-- new service modal -->
      <div class="modal fade" id="newService" tabindex="-1" aria-labelledby="newMaterialLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newMaterialLabel">New Service</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="" action="<%- invoice.url %>/new-service" method="POST">
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input class="form-control" id="title" name="title" type="text" required="true" placeholder="Invoice 1" />
                  <label for="title" class="form-label">Title:</label>
                </div>
                <div class="form-floating mb-3">
                  
                  <textarea class="form-control" id="description-area" name="description" required="true" placeholder="Description" > </textarea>
                  <label for="description-area" class="form-label">Description:</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input class="form-control" type="number" name="price" id="price" min="0" step=".01" required="true" placeholder="13"/>
                  <label for="price">Price:</label>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button type="submit" class="btn btn-primary">Create Service</button>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
      <!-- new service modal -->
      <% if(!invoice.isActive) { %>
        <script src="/public/javascripts/disableButtons.js"></script>
      <% } %>
<!-- </div> -->
