<!-- <div class="container mb-5"> -->
  <% if(locals.errors) {%> 
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(err => { %>
          <li><%- err.msg %> </li>
        <% }) %> 
      </ul>
    </div>
  <%}%>
  <h1 class=""><%- title %></h1>
  <hr>
  <form class="" action="<%- service.url %>/update" method="POST">
    <div class="form-floating mb-3">
      <input class="form-control" id="title" name="title" type="text" required="true" placeholder="Service 1" value="<%= service ? service.title : '' %>" />
      <label for="title" class="form-label">Title:</label>
    </div>
    <div class="form-floating mb-3">
      
      <textarea class="form-control" id="description-area" name="description" required="true" placeholder="Description" ><%= service ? service.description : '' %></textarea>
      <label for="" class="form-label">Description:</label>
    </div>
    
    <div class="form-floating mb-3">
      <input class="form-control" type="number" name="price" id="price" min="0" step=".01" required="true" placeholder="13" value="<%= service ? service.price : '' %>"/>
      <label for="price">Price:</label>
    </div>
    <%# if(results.quotes > 0 || results.jobs > 0 || results.invoces > 0) { %>
      <!-- <div class="d-flex gap-3">
        <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Cannot update if being used in any quotes, jobs or invoices.">
          <button disabled class="btn btn-primary">Save</button>
        </div>
        <div class="btn-wrapper" data-bs-toggle="tooltip" data-bs-placement="top" title="Cannot delete if being used in any quotes, jobs or invoices.">
          <button disabled id="deleteToggle" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
        </div>

      </div> -->
    
    <%# } else { %>
      <button class="btn btn-primary">Save</button>
      <button id="deleteToggle" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>  
    <%# } %>
   </form>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This will permanantly delete this service.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="<%- service.url%>/delete" method="post">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- </div> -->
